@import ../../../styles/helpers

.container 
    display: flex
    align-items: center
    justify-content: center
    max-width: 100%
    padding: 50px
    @media (max-width: var(--breakpoint-lg)) 
        display: block
    


.col 
    flex: 0 0 50%
    &:first-child 
        @media (max-width: var(--breakpoint-lg)) 
            flex: 0 0 40%
        
        @media (max-width: var(--breakpoint-md)) 
            flex: 0 0 100%
            width: 100%
            padding: 24px 16px
        
    
    &:nth-child(2) 
        padding: 0 64px 0 106px
        @media (max-width: var(--breakpoint-lg)) 
            flex: 0 0 60%
            padding: 0 40px 0 40px
        
        @media (max-width: var(--breakpoint-md)) 
            flex: 0 0 100%
            width: 100%
            padding: 24px 16px
        
    


.wrap 
    max-width: 450px
    @media (max-width: var(--breakpoint-md)) 
        max-width: 100%
        padding: 16px
    


.stage 
    margin-bottom: 21px


.title 
    position: relative
    margin-bottom: 35px
    padding-bottom: 36px
    @media (max-width: var(--breakpoint-md)) 
        margin-bottom: 24px
        padding-bottom: 24px
    
    &:after 
        content: ""
        position: absolute
        left: 0
        bottom: 0
        width: 128px
        height: 1px
        background: $neutrals6
        @media (prefers-color-scheme: dark) 
            background: $neutrals3
        
    


.text 
    margin-bottom: 40px
    color: $neutrals4
    @media (max-width: var(--breakpoint-md)) 
        margin-bottom: 24px
    


.subscription 
    max-width: 300px


.preview 
    @media (max-width: var(--breakpoint-md)) 
        width: 100%
        height: auto
    
    img 
        width: 100%
        height: auto
        object-fit: cover
    

